body{
    background-color: #f4f4f4;
}
.callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}
.callout-warning {
    border-left-color: #f0ad4e;
}
.container{
    max-width: 1144px;
}
.bgc-white{
    background-color: #fff;
}
.header{
    height: 80px;
    background-color: #002B5A;
}
.identity{
    width: 250px;
    height: auto;
}
.menu{
    background-color: #fff;
    color: #000;
}
.i-scroll{
    white-space: nowrap;
    overflow-x: auto;
}
.i-btn{
    background-color: #869CA3;
    color: #f4f4f4;
}

.i-btn:hover{
    color: #fff;
    background-color: #5C636A;
}
/* .btn{
    padding: 3px;
} */
/* .btn-secondary{
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
    font-weight: 500;
} */
.btn-group{
    padding: 0 3px;
}
.btn:focus:not(:focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
  }

.footer {
    background-color: #002B5A;
}
.footer h6 {
    color: #FDCE4B;
    text-transform: uppercase;
}
.footer ul {
    padding: 0;
    margin: 0;
}
.footer ul>li{
    list-style: none;
}
.footer ul>li a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    font-weight: 500;
}
.footer ul>li a:hover{
    font-size: 12.2px;
}
.footer p{
    color: #fff;
}

@media (min-width: 1170px)  {
    .scroll-x-navbar{
        width: 1500px;
        text-align: center;
    }
}
