html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  background-color: #fff
}
@media (max-width: 499.98px) {
  .bd-search {
    width: 100%;
    padding-top: 7px
  }
}
/* Header Part Style Layout */
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2rem;
  overflow-y: hidden;
  background-color: #000000
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;   
  color: #393939;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch
}
.nav-underline .nav-link {
  padding: .5rem .5rem;
  font-size: 12px;
  color: #fff
}
.nav-underline .nav-link:hover {
  color: #f4f4f4
}
.nav-underline .active {
  font-weight: 500;
  color: #fff
}
.bg-purple {
  background-color: #6f42c1
}
.bg-sudheer {
  background-color: #F2F4F5
}
.mobile-toggle {
  display: none
}
.navbar-brand {
  font-size: 1.50rem
}
.desktop-menu {
  margin-bottom: -3px
}
@media (max-width: 1199.98px) {
  .mobile-toggle {
    display: inline-block;
    border: none;
    background-color: transparent;
    margin-bottom: -5px
  }
  .desktop-menu {
    display: none
  }
}

/* Mobile Navigation Panel Style */
.offcanvas {
  width: 300px
}

/* destination menu-bar */
.bd-sidebar-toggle {
  color: #6c757d
}
.bd-sidebar-toggle:hover,
.bd-sidebar-toggle:focus {
  color: #7952b3
}
.bd-sidebar-toggle:focus {
  box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25)
}
.bd-sidebar-toggle .bi-collapse {
  display: none
}
.bd-sidebar-toggle:not(.collapsed) .bi-expand {
  display: none
}
.bd-sidebar-toggle:not(.collapsed) .bi-collapse {
  display: inline-block
}
.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor
}

/* Main-page left content style */
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea
}
.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%
}
.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg)
}
.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea
}
.fw-semibold {
  font-weight: 600
}
@media (min-width: 768px) {
  .bd-links {
    position: -webkit-sticky;
    position: sticky;
    display: block !important;
    height: calc(100vh - 7rem);
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto
  }
  #bd-docs-nav {
    display: block
  }
}
@media (max-width: 767.98px) {
  #bd-docs-nav .collapse:not(.show) {
    display: none
  }
}

/* footer style part start */
.footer-container ul>li a{
  text-decoration: none;
  font-size: 13.5px;
  color: rgb(112, 112, 112);
  cursor: pointer;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px
}
.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  margin: 0 auto;
  padding: 60px 16px;
  overflow: hidden
}
.footer-container .upper-section {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(52, 52, 52, .1)
}
.footer-container .upper-section .left-container {
  flex: 1 1;
  display: flex
}
.footer-container .upper-section .left-container .quick-actions-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 0 16px;
  max-width: 220px
}
.footer-container .upper-section .left-container .quick-actions-list-container:first-child {
  padding-left: 0
}
.footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-heading {
  position: relative;
  color: #393939;
  font-size: 16px;
  padding-bottom: 16px
}
.footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-list .quick-heading {
  position: relative;
  color: #393939;
  font-size: 16px;
  padding-top: 25px;
  padding-bottom: 0
}
.footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-heading:after,
.footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-heading:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  width: 16px;
  height: 1px;
  background: #444;
  opacity: 0;
  transform: rotate(0deg);
  transition: transform .35s ease-in-out
}
.footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-heading:after {
  transform: rotate(90deg)
}
.footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-list {
  padding: 0;
  margin: 0;
  font-size: 12px;
  max-height: 1000px;
  overflow: hidden;
  transition: max-height .35s ease-in-out
}
.footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-list li {
  padding: 6px 0;
  white-space: nowrap
}
.footer-container .upper-section .right-container {
  width: auto
}
.footer-container .upper-section .right-container .scroll-to-top {
  background-color: transparent;
  border: none;
  font-size: 20px;
  letter-spacing: 2.5px;
  outline: none;
  color: #e40000;
  text-transform: uppercase;
  cursor: pointer
}
.footer-container .upper-section .right-container .scroll-to-top svg {
  margin-bottom: -5px;
}
.footer-container .upper-section .right-container .social {
  margin: 136px 0 12px;
  display: flex;
  justify-content: center
}
.footer-container .upper-section .right-container .social li {
  margin: 0 10px
}
.footer-container .upper-section .right-container .social li a {
  display: inherit
}
.footer-container .upper-section .right-container .social li a img {
  -webkit-filter: grayscale(100%) contrast(25%);
  filter: grayscale(100%) contrast(25%);
  transition: -webkit-filter .15s ease-in-out;
  transition: filter .15s ease-in-out;
  transition: filter .15s ease-in-out, -webkit-filter .15s ease-in-out
}
.footer-container .upper-section .right-container .social li:hover a img {
  -webkit-filter: none;
  filter: none
}
.footer-container a:hover {
  color: #212529 !important
}
@media (max-width: 912.98px) {
  .footer-container .upper-section {
    padding-top: 60px;
    flex-direction: column;
    padding-bottom: 0;
    border-color: transparent
  }
  .footer-container .upper-section .left-container {
    flex-direction: column
  }
  .footer-container .upper-section .left-container .quick-actions-list-container {
    max-width: 100%;
    padding: 0
  }
  .footer-container .upper-section .left-container .quick-actions-list-container.active .quick-actions-list {
    max-height: 1000px
  }
  .footer-container .upper-section .left-container .quick-actions-list-container.active .quick-actions-heading:after {
    transform: rotate(0deg)
  }
  .footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-heading {
    padding: 16px 0;
    border-bottom: 1px solid #eee;
    color: #444;
    font-size: 14px;
    pointer-events: none
  }
  .footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-heading:after,
  .footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-heading:before {
    opacity: 1
  }
  .footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-list {
    max-height: 0
  }
  .footer-container .upper-section .left-container .quick-actions-list-container .quick-actions-list li a {
    font-size: 16px;
    color: rgb(112, 112, 112)
  }
  .footer-container .upper-section .right-container .scroll-to-top {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: 18px
  }
  .footer-container .upper-section .right-container .scroll-to-top svg {
    margin-bottom: -5px
  }
  .footer-container .upper-section .right-container .social {
    margin: 52px 0 10px
  }
}
/* Universal footer style */
.universal-footer {
  padding-bottom: 10px;
  background-color: transparent;
  color: rgb(112, 112, 112);
  padding-top: 20px;
  font-size: 13.5px
}
.universal-footer ul li a{
  font-weight: 500
}
.universal-footer-content {
  float: left
}
.universal-footer-content li a {
  font-weight: 400
}
.universal-footer-copy {
  float: right;
  font-weight: 500
}
@media (max-width:767px) {
  .universal-footer {
    text-align: center
  }
  .universal-footer-content {
    float: none
  }
  .universal-footer-copy {
    float: none;
    padding-top: 10px
  }
}

/* Book Cover Display - clone Hotstar */
.textbook .title{
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
}

.book-list{
  width: 100%;
  height: 220px;
  position: relative;
  margin: 10px 0 20px;
}

.book-container{
  position: absolute;
  width: 99%;
  padding-left: 10px;
  height: 220px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
}

.book-container::-webkit-scrollbar{
  display: none;
}

.book-card{
  position: relative;
  min-width: 150px;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  transition: 0.5s;
}

.book-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-card:hover{
  transform: scale(1.1);
}

.book-card:hover .book-body{
  opacity: 1;
}

.book-body{
  opacity: 0;
  color: #f4f4f4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 90%);
  padding: 10px;
  transition: 0.5s;
}

.book-name{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 100%;
}

.book-subject{
  color: #fff;
  opacity: 0.8;
  margin: 5px 0;
  font-weight: 500;
  font-size: 12px;
}

.pre-btn,
.nxt-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  padding: 6px;
  z-index: 2;
  border: 1px solid #ccc!important;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  cursor: pointer;
  outline: none;
}

.pre-btn{
  left: -50px;
  background-color: #fff;
}

.nxt-btn{
  right: -50px;
  background-color: #fff;
}

.pre-btn:hover,
.nxt-btn:hover{
  background-color: #f4f4f4;
}

.pre-btn:focus,
.nxt-btn:focus{
  border: 1px solid #ccc!important;
  background-color: rgba(117, 190, 218, 0.1);  /* 50% transparent */
}
